h1 {
    padding-top:30px;
    font-size:80px;
    cursor:pointer;
}

h2 {
    font-size:30px;
    color:#CC0000;
    margin-bottom:10px;
}

div.post {
    padding-bottom:30px;
}

span#author_name {
    color:#CC0000;
    font-weight:bold;
}

ul, ol {
    margin-left:15px;
    list-style-position:inside;
}

#navigation ul {
    padding-top:40px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}

#navigation li {
    display:inline;
    margin:0;
    padding:0 0 0 25px;
}

#about-text {
    font-size:120%;
    color:gray;
    margin:5px;
    font-style:italic;
}