<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>
      dirceu.info - {{ page.title }}
    </title>
    <link href='/blog/css/stylesheet.css' media='screen' rel='stylesheet' type='text/css' />
    <meta content='text/html; charset=utf-8' http-equiv='Content-type' />
    <meta content="5MH4Mj26wSIlyKHh2HL58xahnXHm1d4LcSW4gI7ge_M" name="google-site-verification" />
    <meta content='width = 750' name='viewport' />
    <meta content='Dirceu Pereira Tiegs' name='author' />
    <meta content="Dirceu Pereira Tiegs' personal website." name='description' />
    <meta content='python, ruby, erlang, development, productivity, web, agile' name='keywords' />
    <meta content='all' name='robots' />
    <meta content='en,pt' name='language' />
    <meta content='dirceu.info' name='DC.title' />
    <link href='http://feeds.feedburner.com/dirceuinfo' rel='alternate' title='dirceu.info RSS Feed' type='application/rss+xml' />
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
        <div id='logo'>
          <h1>
            <a href='/blog'>
              dirceu.info
            </a>
          </h1>
        </div>
      </div>
      <div id='menu'>
        <ul>
          <li class='current_page_item'>
            <a href='/blog'>
              Home
            </a>
          </li>
          <li>
            <a href='http://github.com/dirceu' rel='me'>
              Code
            </a>
          </li>
          <li>
            <a href='http://twitter.com/dirceu' rel='me'>
              Twitter
            </a>
          </li>
          <li>
            <a href='http://dirceu.emurse.com' rel='me'>
              Resum&eacute;
            </a>
          </li>
          <li>
            <a href='/blog/about.html' rel='me'>
              About
            </a>
          </li>
          <li>
            <a href='http://dirceu.wufoo.com/forms/contact-dirceu-pereira-tiegs/' rel='me'>
              Contact
            </a>
          </li>
        </ul>
      </div>
      <div id='page'>
        <div id='page-bgtop'>
          <div id='page-bgbtm'>
            <div id='content'>
              {{ content }}
            </div>
            <div id='sidebar'>
              <ul>
                <li style='padding-top:15px'>
                  <h2>
                    Dirceu Pereira Tiegs
                  </h2>
                  <p style='text-align:left'>
                    <img align='left' class='me' src='/blog/images/me.jpg'>
                    I'm a software developer living in Criciúma, Brazil.
                    <a href='/blog/about.html'>
                      Read more about me.
                    </a>
                  </p>
                </li>
                <li>
                  <h2>
                    Archives
                  </h2>
                  <ul>
                    {% for post in site.posts %}
                    <li>
                      <a href='/blog{{ post.url }}'>
                        {{ post.title }}
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
            </div>
            <div style='clear: both;'>
              &nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id='footer'>
      <p>
        Design by
        <a href='http://www.freecsstemplates.org/'>
          Free CSS Templates
        </a>
        .
      </p>
      <div class='vcard' id='hcard-Dirceu-Pereira-Tiegs' style='display:none'>
        <a class='url fn n' href='http://dirceu.info/'>
          <span class='given-name'>
            Dirceu
          </span>
          <span class='additional-name'>
            Pereira
          </span>
          <span class='family-name'>
            Tiegs
          </span>
        </a>
        <div class='org'>
          dirceu.info
        </div>
        <a class='email' href='mailto:dirceutiegs@gmail.com'>
          dirceutiegs@gmail.com
        </a>
        <div class='adr'>
          <span class='locality'>
            Crici&uacute;ma
          </span>
          ,
          <span class='region'>
            Santa Catarina
          </span>
          <span class='country-name'>
            Brazil
          </span>
        </div>
        <a class='url' href='xmpp:dirceutiegs@gmail.com'>
          Jabber
        </a>
        <div class='tags'>
          <a href='http://kitchen.technorati.com/contacts/tag/python'>
            python
          </a>
          <a href='http://kitchen.technorati.com/contacts/tag/zope'>
            zope
          </a>
          <a href='http://kitchen.technorati.com/contacts/tag/plone'>
            plone
          </a>
          <a href='http://kitchen.technorati.com/contacts/tag/django'>
            django
          </a>
          <a href='http://kitchen.technorati.com/contacts/tag/ruby'>
            ruby
          </a>
          <a href='http://kitchen.technorati.com/contacts/tag/rails'>
            rails
          </a>
          <a href='http://kitchen.technorati.com/contacts/tag/development'>
            development
          </a>
          <a href='http://kitchen.technorati.com/contacts/tag/git'>
            git
          </a>
          <a href='http://kitchen.technorati.com/contacts/tag/productivity'>
            productivity
          </a>
          <a href='http://kitchen.technorati.com/contacts/tag/web'>
            web
          </a>
          <a href='http://kitchen.technorati.com/contacts/tag/agile'>
            agile
          </a>
          <a href='http://kitchen.technorati.com/contacts/tag/erlang'>
            erlang
          </a>
        </div>
      </div>
      <script type='text/javascript'>
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type='text/javascript'>
        var pageTracker = _gat._getTracker("UA-250568-1");
        pageTracker._trackPageview();
      </script>
    </div>
  </body>
</html>
