<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width = 750">
    <link rel="stylesheet" type="text/css" href="/blog/css/stripped.css" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/blog/css/stylesheet.css" charset="utf-8">
    <meta name="author" content="Dirceu Pereira Tiegs" />
    <meta name="description" content="Dirceu Pereira Tiegs' personal website." />
    <meta name="keywords" content="python, zope, plone, django, ruby, rails, development, git, productivity, web, agile, erlang" />
    <meta name="robots" content="all" />
    <meta name="language" content="en,pt" />
    <meta name="DC.title" content="dirceu.info" />
    <link rel="alternate" type="application/rss+xml" title="dirceu.info RSS Feed" href="http://feeds.feedburner.com/dirceuinfo" />
    <title>dirceu.info - {{ page.title }}</title>
  </head>
  <body id="intro">
    <div id="wrapper">
      <div id="header" onclick="javascript:window.location='/blog'">
        <h1>dirceu.info</h1>
      </div>
      <div id="navigation">
        <ul>
          <li id="navi_intro">
            <a href="/blog/about.html" rel="me">About me</a>
          </li>
          <li id="navi_intro">
            <a href="/blog/archives">Archives</a>
          </li>
          <li id="navi_intro">
            <a href="http://github.com/dirceu" rel="me">Code</a>
          </li>
          <li id="navi_intro">
            <a href="http://twitter.com/dirceu" rel="me">Twitter</a>
          </li>
          <li id="navi_intro">
            <a href="http://tumblelog.dirceu.info" rel="me">Tumblelog</a>
          </li>
          <li id="navi_intro">
            <a href="http://dirceu.emurse.com" rel="me">Resum&eacute;</a>
          </li>
          <li id="navi_intro">
            <a href="http://dirceu.wufoo.com/forms/contact-dirceu-pereira-tiegs/">Contact</a>
          </li>
        </ul>
      </div>
      <div id="page_body">
        <div id="content">
          <h2>{{page.title}}</h2>
          {{ content }}
                    
          <div id="disqus_thread"></div>
          <script type="text/javascript" src="http://disqus.com/forums/dirceuinfo/embed.js"></script>
          <noscript>
              <a href="http://dirceuinfo.disqus.com/?url=ref">View the discussion thread.</a>
          </noscript>
          <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
          <script type="text/javascript">
          //<![CDATA[
          (function() {
          		var links = document.getElementsByTagName('a');
          		var query = '?';
          		for(var i = 0; i < links.length; i++) {
          			if(links[i].href.indexOf('#disqus_thread') >= 0) {
          				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
          			}
          		}
          		document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/dirceuinfo/get_num_replies.js' + query + '"></' + 'script>');
          	})();
          //]]>
          </script>
          
        </div>
      </div>
      <div id="footer">
        <p>generated by <a href="http://github.com/mojombo/jekyll">jekyll</a></p>
      </div>
    </div>
    <div id="hcard-Dirceu-Pereira-Tiegs" class="vcard" style="display:none">
      <a class="url fn n" href="http://dirceu.info/">  
        <span class="given-name">Dirceu</span>
        <span class="additional-name">Pereira</span>
        <span class="family-name">Tiegs</span>
      </a>
      <div class="org">dirceu.info</div>
      <a class="email" href="mailto:dirceutiegs@gmail.com">dirceutiegs@gmail.com</a>
      <div class="adr">
        <span class="locality">Crici&uacute;ma</span>
    ,   <span class="region">Santa Catarina</span>
        <span class="country-name">Brazil</span>
      </div>
      <a class="url" href="xmpp:dirceutiegs@gmail.com">Jabber</a>
      <div class="tags">
        <a href="http://kitchen.technorati.com/contacts/tag/python">python</a>
        <a href="http://kitchen.technorati.com/contacts/tag/zope">zope</a> 
        <a href="http://kitchen.technorati.com/contacts/tag/plone">plone</a>  
        <a href="http://kitchen.technorati.com/contacts/tag/django">django</a> 
        <a href="http://kitchen.technorati.com/contacts/tag/ruby">ruby</a> 
        <a href="http://kitchen.technorati.com/contacts/tag/rails">rails</a> 
        <a href="http://kitchen.technorati.com/contacts/tag/development">development</a> 
        <a href="http://kitchen.technorati.com/contacts/tag/git">git</a> 
        <a href="http://kitchen.technorati.com/contacts/tag/productivity">productivity</a> 
        <a href="http://kitchen.technorati.com/contacts/tag/web">web</a> 
        <a href="http://kitchen.technorati.com/contacts/tag/agile">agile</a> 
        <a href="http://kitchen.technorati.com/contacts/tag/erlang">erlang</a> 
      </div>
    </div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-250568-1");
      pageTracker._trackPageview();
    </script>
  </body>
</html>
